name: MLOps Flask microservice
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.9.7
    - name: Install dependencies
      run: |
        make install
    - name: Lint with pylint
      run: |
        make lint
    - name: Test with pytest
      run: |
        make test
    - name: Format code
      run: |
        make format

  build-container:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to Docker Hub
      run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} | echo ${{ secrets.DOCKERHUB_TOKEN }}
    - name: build flask app
      uses: docker/build-push-action@v2
      with:
        context: ./
        tags: flask-mlops:latest
        push: true 